extends layout

block content
  p Username: #{person.username}
  p Email: #{person.email}
  p Age: #{person.age}
  p Level: #{person.level}
  p Sec. Question 1: #{person.question1}
  p Sec. Question 2: #{person.question2}
  p Sec. Question 3: #{person.question3}
  br
  #menu
    a(href='/') Go back
