doctype
html
  head
    title=title
    link(href='/styles/style.css', rel='stylesheet')
  body
    h3=title
    a(href='/logout') Logout
    block content
    script var mufasa = '#{q1a1}'
    script var simba = '#{q1a2}'
    script var scar = '#{q1a3}'
    script var nala = '#{q1a4}'
    script var leo = '#{q2a1}'
    script var van = '#{q2a2}'
    script var frida = '#{q2a3}'
    script var claude = '#{q2a4}'
    script var luigi = '#{q3a1}'
    script var wario = '#{q3a2}'
    script var jumpman = '#{q3a3}'
    script var hiro = '#{q3a4}'
    script var q1total = '#{totalq1}'
    script var q2total = '#{totalq2}'
    script var q3total = '#{totalq3}'
    script(src='my_script.js')
